flow.json
[{"id":"a3193d4f.1a973","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"148403ec.fbcf4c","type":"get","z":"a3193d4f.1a973","name":"nodered","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","content_source":"saved","subreddit":"all","user":"harrisonwaffel","limit":"400","sort":"controversial","time":"day","fetch_all":"false","submission":"","depth":"","content_id":"","x":360,"y":380,"wires":[["c8b18f44.94035"]]},{"id":"270c3bde.bbf834","type":"batch","z":"a3193d4f.1a973","name":"","mode":"count","count":"399","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":610,"y":520,"wires":[["a816e912.a4a1d8"]]},{"id":"4809ff23.b39a7","type":"watson-tone-analyzer-v3","z":"a3193d4f.1a973","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"","x":940,"y":500,"wires":[["aa26d20a.6274a","f658af28.66026"]]},{"id":"39c16a13.966326","type":"comment","z":"a3193d4f.1a973","name":"Entry Point","info":"Entry Point","x":100,"y":20,"wires":[]},{"id":"eaa0f0f3.e0704","type":"comment","z":"a3193d4f.1a973","name":"Reddit API & message crafting","info":"Entry Point","x":670,"y":280,"wires":[]},{"id":"4f779463.2166ec","type":"comment","z":"a3193d4f.1a973","name":"Tone Analysis and JSON message crafting","info":"Entry Point","x":1000,"y":280,"wires":[]},{"id":"80b294ac.0162c8","type":"comment","z":"a3193d4f.1a973","name":"Web frontend ","info":"Entry Point","x":1330,"y":280,"wires":[]},{"id":"73e22ee1.a68ce","type":"http response","z":"a3193d4f.1a973","name":"","statusCode":"","headers":{},"x":1370,"y":580,"wires":[]},{"id":"43539a92.8b7514","type":"http in","z":"a3193d4f.1a973","name":"","url":"/workcontroversial","method":"get","upload":false,"swaggerDoc":"","x":160,"y":380,"wires":[["148403ec.fbcf4c"]]},{"id":"d25fb894.483fd8","type":"http in","z":"a3193d4f.1a973","name":"","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["1cf4cbeb.91ef04"]]},{"id":"1cf4cbeb.91ef04","type":"template","z":"a3193d4f.1a973","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"How would you like to sort Reddit?\n\n<form action=\"/worktop\" method=\"GET\">\n    <input type='Submit' value=\"Top\" />\n</form>\n\n<form action=\"/workhot\" method=\"GET\">\n    <input type='Submit' value=\"Hot\" />\n</form>\n\n<form action=\"/worknewest\" method=\"GET\">\n    <input type='Submit' value=\"Newest\" />\n</form>\n\n<form action=\"/workcontroversial\" method=\"GET\">\n    <input type='Submit' value=\"Controversial\" />\n</form>","output":"str","x":100,"y":180,"wires":[["26924d20.5c57a2"]]},{"id":"26924d20.5c57a2","type":"http response","z":"a3193d4f.1a973","name":"","statusCode":"","headers":{},"x":100,"y":260,"wires":[]},{"id":"3ddfa5a7.4ec44a","type":"http in","z":"a3193d4f.1a973","name":"","url":"/worktop","method":"get","upload":false,"swaggerDoc":"","x":130,"y":460,"wires":[["79db4421.65611c"]]},{"id":"79db4421.65611c","type":"get","z":"a3193d4f.1a973","name":"nodered","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","content_source":"saved","subreddit":"all","user":"harrisonwaffel","limit":"400","sort":"top","time":"day","fetch_all":"false","submission":"","depth":"","content_id":"","x":360,"y":460,"wires":[["c8b18f44.94035"]]},{"id":"aad73bc0.ce0a88","type":"http in","z":"a3193d4f.1a973","name":"","url":"/workhot","method":"get","upload":false,"swaggerDoc":"","x":130,"y":540,"wires":[["a06c78ad.cb5308"]]},{"id":"a06c78ad.cb5308","type":"get","z":"a3193d4f.1a973","name":"nodered","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","content_source":"saved","subreddit":"all","user":"harrisonwaffel","limit":"400","sort":"hot","time":"day","fetch_all":"false","submission":"","depth":"","content_id":"","x":360,"y":540,"wires":[["c8b18f44.94035"]]},{"id":"7686c397.ffd30c","type":"http in","z":"a3193d4f.1a973","name":"","url":"/worknewest","method":"get","upload":false,"swaggerDoc":"","x":150,"y":640,"wires":[["98a7446.67a40b8"]]},{"id":"98a7446.67a40b8","type":"get","z":"a3193d4f.1a973","name":"nodered","reddit":"","content_type":"submission","submission_source":"subreddit","comment_source":"subreddit","pm_source":"inbox","content_source":"saved","subreddit":"all","user":"harrisonwaffel","limit":"400","sort":"new","time":"day","fetch_all":"false","submission":"","depth":"","content_id":"","x":360,"y":640,"wires":[["c8b18f44.94035"]]},{"id":"c8b18f44.94035","type":"function","z":"a3193d4f.1a973","name":"","func":"msg.reddit = msg.payload\ntitle = msg.payload.title.replace(/\"/g, \"\")\nreturn {payload: title, req: msg.req, res:msg.res, reddit: msg.reddit};","outputs":1,"noerr":0,"x":610,"y":460,"wires":[["270c3bde.bbf834"]]},{"id":"aa26d20a.6274a","type":"function","z":"a3193d4f.1a973","name":"build html","func":"\nmsg.payload = \"\" \nmsg.payload = \"<table> <tr> <th>Tone</th> <th>sentence</th> </tr>\"\n\njoypercent = 0.0;\nsadpercent = 0.0;\nangrypercent =0.0;\n\njoytotal = 0;\nsadtotal = 0;\nangrytotal = 0;\n\nfor (i = 1; i < msg.response.sentences_tone.length; i++){\n    if(msg.response.sentences_tone[i].tones.length !== 0){\n        msg.payload = msg.payload + \"\\n<tr>\"\n        msg.payload = msg.payload + \"\\n<td>\"+msg.response.sentences_tone[i].tones[0].tone_name+\"</td>\"\n        msg.payload = msg.payload + \"\\n<td style=\\\"text-align:center\\\">\"+msg.response.sentences_tone[i].text+\"</td>\"\n        \n        if(msg.response.sentences_tone[i].tones[0].tone_name == \"Joy\" ){\n            joytotal++;\n        }\n        \n        if(msg.response.sentences_tone[i].tones[0].tone_name == \"Sadness\"){\n            sadtotal++;\n        }\n    \n        if(msg.response.sentences_tone[i].tones[0].tone_name == \"Anger\"){\n            angrytotal++;\n        }\n     }\n}\n\nmsg.payload = msg.payload + \"\\n</table>\"\n\njoypercent = joytotal/msg.response.sentences_tone.length;\nsadpercent = sadtotal/msg.response.sentences_tone.length;\nangrypercent = angrytotal/msg.response.sentences_tone.length;\n\n\nmsg.payload = \"\\nTotal Percent of Joy detected from posts: \" + (joypercent*100) + \"%</br></br>\" + msg.payload;\nmsg.payload = \"\\nTotal Percent of Sadness detected from posts: \" +sadpercent*100 + \"%</br></br>\"+ msg.payload;\nmsg.payload = \"\\nTotal Percent of Anger detected from posts: \" +angrypercent*100 + \"%</br></br>\" + msg.payload;\n\n//we ignore 2% bad news because we are optimistic people\nif (joypercent > (sadpercent+angrypercent-2)){\n    msg.payload = \"<div style=\\\"text-align:center;\\\"></br></br>Today is a <b>good</b> day to browse reddit, there is either a greater or equal amount of happy news to bad news.</div></br>\" + msg.payload;\n}else{\n    msg.payload = \"<div style=\\\"text-align:center;\\\"></br></br>Today is a <b>bad</b> day to browse reddit, there is more bad news than good news.</div></br>\" + msg.payload;\n}\n\nmsg.payload = \"\\nRaw Result Table\" + msg.payload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":500,"wires":[["73e22ee1.a68ce"]]},{"id":"a816e912.a4a1d8","type":"join","z":"a3193d4f.1a973","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":610,"y":580,"wires":[["4809ff23.b39a7"]]},{"id":"f658af28.66026","type":"debug","z":"a3193d4f.1a973","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":720,"wires":[]}]
